<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='style.css' />
  </head>
  <%- include('./header') %>
  <body>
    <ul>
      <% clents.forEach((clent) => { %>
        <li>
          <h2>
            <%= clent.name %>
          </h2>
          <p>
            email:  <%= clent.email %>
          </p>
          <p>
            You visited: <%= clent.visited %>
          </p>
          <p>
            Future visit date will be: <%= Number(clent.visited) + 2 %>
          </p>
        </li>
      <% }) %>
    </ul>

    <a href="/add"><button>Add</button></a>
  </body>
</html>
