<!DOCTYPE html>
<html>
  <head>
    <h3>YunsCare</h3>
    <link rel='stylesheet' href='style.css' />
  </head>
  <%- include('./header') %>
  <body>
    <ul>
      <% clients.forEach((client) => { %>
        <li>
          <h2>
            <%= client.name %>
          </h2>
          <p>
            email:  <%= client.email %>
          </p>
          <p>
            You visited: <%= client.visited %>
          </p>
          <p>
            Future visit date will be: <%= Number(client.visited) + 2 %>
          </p>
        </li>
        <form action="detail/<%= client.id %>" method="get">
          <input type="submit" value="change" />
        </form>
      <% }) %>
    </ul>

    <a href="/add"><button>Add</button></a>
  </body>
</html>
