<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('./header') %>
  
  <p>Successfully updated.</p>
  <li>
    <% console.log(item); %>
    <% if (item) { %>
      <h2>
        <%= item[0].name %>
      </h2>
      <p>
        email:  <%= item[0].email %>
      </p>
      <p>
        You visited: <%= item[0].visited %>
      </p>
      <p>
        Future visit date will be: <%= Number(item[0].visited) + 2 %>
      </p>
    <% } %>
  </li>

  <a href="/"><button>See all list</button></a>

</body>
</html>